<div {{ attributes }}>

    {% if projects|length == 0 %}
        <div class="mt-5 text-center">
            <h5 class="fw-bold">You don't have any projects yet</h5>
            <p>Create your first project in Tasker</p>
            <button class="btn btn-primary" data-bs-target="#modalCreateProject" data-bs-toggle="modal">
                Create Project
            </button>
        </div>
    {% else %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="w-50">Name</th>
                <th class="w-25">Key</th>
                <th class="w-25">Owner</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.keyCode }}</td>
                    <td>{{ project.lead }}</td>
                    <td class="hstack gap-3 text-center">
                        <a class="btn btn-sm btn-primary"
                           href="{{ path('project_show', { 'keyCode': project.keyCode }) }}">
                            Voir
                        </a>
                        <button class="btn btn-sm btn-danger"
                                data-action="live#action:prevent"
                                data-live-action-param="deleteProject"
                                data-live-key-code-param="{{ project.keyCode }}">
                            Supprimer
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
